<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="org.petabytes.awesomeblogs">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:largeHeap="true"
        android:theme="@style/AppTheme.Feeds"
        android:name=".AwesomeBlogsApp">
        <activity android:name="org.petabytes.awesomeblogs.feeds.FeedsActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".summary.SummaryActivity" />
        
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="d681fa3447fdb8f13e18ee327c6ce8a00bcfb3dc" />
    </application>

</manifest>